.EditPostForm-submit {
    background-color: #383e56;
    border: white dotted 1px;
}

.EditPostForm-submit:hover{
    background-color: #383e56;
    border: 1px solid white;
}

.EditPostForm-submit:enabled {
    background-color: #383e56;
    border: 1px solid white;
}